<div class="card main">
  <div class="card-body">



    <form [formGroup]="verifydel" (ngSubmit)="onSubmit()">

      <h5 class="card-title heading-text">Delete Your Account</h5>
      <p class="card-text p-text" *ngIf="id === 'email'">
        Please enter the 4 digits verification code sent to
        <span><b>your mail</b></span>
      </p>

      <p class="card-text p-text" *ngIf="id === 'contactNumber'">
        Please enter the 4 digits verification code sent to
        <span><b>your mobile number</b></span> through SMS
      </p>


      <div>
        <label *ngIf="id === 'contactNumber'" for="contactNumber" class="label-text">Verify your mobile Number</label>
        <label *ngIf="id === 'email'" for="contactNumber" class="label-text">Verify your Email</label>
        <input id="contactNumber" type="" placeholder="Enter your contactNumber" class="input-field"
        formControlName="contactNumber" />
        <input id="otp" type="" maxlength="6" placeholder="Enter your OTP" class="input-field"
          formControlName="otp" />
      </div>
      <span style="color: red" *ngIf="
          verifydel.get('contactNumber')?.invalid &&
          verifydel.get('contactNumber')?.touched
        ">
        Please enter a valid OTP
      </span>
      <div>
        <button type="submit" class="btn" [disabled]="verifydel.invalid">
          <span class="btn-text">Continue</span>
        </button>
      </div>
    </form>
  </div>
</div>