<div class="card main" >
  <div class="card-body">
    <h5 class="card-title heading-text">Delete Your Account</h5>
    <p class="card-text p-text">
      Please enter the 4 digits verification code sent to
      <span class="mail-text">email</span>
    </p>

    <div>
      <label class="label-text">Verify your mobile Number</label>
      <input type="" placeholder="Enter your OTP" class="input-field"/>
    </div>
    <div>
        <button class="btn" routerLink="/delconfirm"><span class="btn-text">Continue</span></button>
    </div>
  </div>
</div>
